<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>159652103346-asdm1vpq0lk7tjgedpljo3dtie0js154.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.159652103346-asdm1vpq0lk7tjgedpljo3dtie0js154</string>
	<key>API_KEY</key>
	<string>AIzaSyAla-l13fqNyL_61hEAmVtSXrtgl3dht3M</string>
	<key>GCM_SENDER_ID</key>
	<string>159652103346</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.imagineco</string>
	<key>PROJECT_ID</key>
	<string>imagineco</string>
	<key>STORAGE_BUCKET</key>
	<string>imagineco.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:159652103346:ios:98574fbc4fb551c41b35ab</string>
</dict>
</plist>